:root {
	color-scheme: dark;
	--gx-accent-l-8: 347deg 96% 4.4%;
	--gx-accent-l-16: 347deg 96% 8.8%;
	--gx-accent-l-24: 347deg 96% 13.2%;
	--gx-accent-l-30: 347deg 96% 16.5%;
	--gx-accent-l-60: 347deg 96% 33%;
	--gx-accent-l-80: 347deg 96% 44%;
	--gx-accent-l-100: 347deg 96% 55%;
	--gx-accent-l-120: 347deg 96% 66%;
	--gx-accent-l-140: 347deg 96% 77%;
	--gx-accent-l-160: 347deg 96% 88%;
	--gx-gray-10: 0deg 0% 10%;
	--gx-gray-16: 0deg 0% 16%;
	--gx-gray-20: 0deg 0% 20%;
	--gx-gray-30: 0deg 0% 30%;
	--gx-gray-40: 0deg 0% 40%;
	--gx-gray-50: 0deg 0% 50%;
	--gx-gray-60: 0deg 0% 60%;
	--gx-gray-70: 0deg 0% 70%;
	--gx-gray-80: 0deg 0% 80%;
	--gx-gray-90: 0deg 0% 90%;
	--gx-no-00: 258deg 24% 0%;
	--gx-no-04: 258deg 24% 4%;
	--gx-no-08: 258deg 24% 8%;
	--gx-no-12: 258deg 24% 12%;
	--gx-no-16: 258deg 24% 16%;
	--gx-no-20: 258deg 24% 20%;
	--gx-no-24: 258deg 24% 24%;
	--gx-no-32: 258deg 24% 32%;
	--gx-no-40: 258deg 24% 40%;
	--gx-no-59: 258deg 24% 59%;
	--gx-no-77: 258deg 24% 77%;
	--gx-no-80: 258deg 24% 80%;
	--gx-no-88: 258deg 24% 88%;
	--gx-no-90: 258deg 24% 90%;
	--gx-no-92: 258deg 24% 92%;
	--gx-no-96: 258deg 24% 96%;
	--gx-no-98: 258deg 24% 98%;
	--gx-no-100: 258deg 24% 100%;
	--gx-warning-red-l-100: 0deg 100% 50%;
	--gx-warning-red-l-120: 0deg 100% 60%;
	--gx-warning-red-l-140: 0deg 100% 70%;
	--gx-warning-yellow-l-100: 47.88deg 100% 60%;
	--gx-warning-yellow-l-120: 47.88deg 100% 72%;
	--gx-warning-yellow-l-140: 47.88deg 100% 84%;
	--gx-accent-100-contrast: 0 0 100%;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  background-color: hsl(var(--gx-no-08));
  color: #ffffff;
  font-weight: 400;
  margin: 0px;
}

.topToolbar {
  height: 64px;
  width: 100%;
  margin-bottom: 10vh;
  background-color: hsl(var(--gx-no-12));
  border-bottom: 1px solid hsl(var(--gx-no-32));
  display: flex;
}

.chip {
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 16px;
  margin-right: .25em;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  opacity: .5;
  padding: .125rem .5rem;
  background-color: hsl(28deg 19% 100%/15%);
  border-color: #fff;
  border-width: 1px;
  border-radius: .25rem;
  height: 1.25rem;
  display: inline-flex;
  text-decoration: none;
  box-sizing: border-box;
  align-items: center;
  border-style: solid;
  text-transform: uppercase;
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  font-family: Averta,-apple-system,"Segoe UI",system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  -webkit-tap-highlight-color: transparent
}

.modIcon {
  aspect-ratio: 1/1;
  height: 64px;
  clip-path: polygon(evenodd, 0px 6.82px, 0.02px 6.52px, 0.1px 6.22px, 0.22px 5.92px, 0.38px 5.66px, 0.58px 5.42px, 5.42px 0.58px, 5.66px 0.38px, 5.92px 0.22px, 6.22px 0.1px, 6.52px 0.02px, 6.82px 0px, calc(100% - 2px) 0px, calc(100% - 1.38px) 0.1px, calc(100% - 0.82px) 0.38px, calc(100% - 0.38px) 0.82px, calc(100% - 0.1px) 1.38px, 100% 2px, 100% calc(100% - 6.82px), calc(100% - 0.02px) calc(100% - 6.52px), calc(100% - 0.1px) calc(100% - 6.22px), calc(100% - 0.22px) calc(100% - 5.92px), calc(100% - 0.38px) calc(100% - 5.66px), calc(100% - 0.58px) calc(100% - 5.42px), calc(100% - 5.42px) calc(100% - 0.58px), calc(100% - 5.66px) calc(100% - 0.38px), calc(100% - 5.92px) calc(100% - 0.22px), calc(100% - 6.22px) calc(100% - 0.1px), calc(100% - 6.52px) calc(100% - 0.02px), calc(100% - 6.82px) 100%, 2px 100%, 1.38px calc(100% - 0.1px), 0.82px calc(100% - 0.38px), 0.38px calc(100% - 0.82px), 0.1px calc(100% - 1.38px), 0px calc(100% - 2px));
  background-color: hsl(var(--gx-no-08))
}

.modIconContainer {
  aspect-ratio: 1/1;
  height: 66px;
  clip-path: polygon(evenodd, 0px 6.82px, 0.02px 6.52px, 0.1px 6.22px, 0.22px 5.92px, 0.38px 5.66px, 0.58px 5.42px, 5.42px 0.58px, 5.66px 0.38px, 5.92px 0.22px, 6.22px 0.1px, 6.52px 0.02px, 6.82px 0px, calc(100% - 2px) 0px, calc(100% - 1.38px) 0.1px, calc(100% - 0.82px) 0.38px, calc(100% - 0.38px) 0.82px, calc(100% - 0.1px) 1.38px, 100% 2px, 100% calc(100% - 6.82px), calc(100% - 0.02px) calc(100% - 6.52px), calc(100% - 0.1px) calc(100% - 6.22px), calc(100% - 0.22px) calc(100% - 5.92px), calc(100% - 0.38px) calc(100% - 5.66px), calc(100% - 0.58px) calc(100% - 5.42px), calc(100% - 5.42px) calc(100% - 0.58px), calc(100% - 5.66px) calc(100% - 0.38px), calc(100% - 5.92px) calc(100% - 0.22px), calc(100% - 6.22px) calc(100% - 0.1px), calc(100% - 6.52px) calc(100% - 0.02px), calc(100% - 6.82px) 100%, 2px 100%, 1.38px calc(100% - 0.1px), 0.82px calc(100% - 0.38px), 0.38px calc(100% - 0.82px), 0.1px calc(100% - 1.38px), 0px calc(100% - 2px));
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--gx-no-59));
  background: linear-gradient(45deg, hsl(var(--gx-no-12)) 0%, hsl(var(--gx-no-59)) 100%);
}

.infoContainer {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  flex-basis: 75%
}

.zipPreview > .modItem > .infoContainer {
  flex-basis: initial !important;
}


h1.modListTitle {
  font-size: 18px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#optionsTitle {
  display: flex;
  align-items: center;
  margin-left: 44px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-size: 17px;
  font-weight: 450;
}

hr {
  margin: 8px -8px 4px;
  border-top: 1px solid;
  border-bottom: none;
  color: hsl(var(--gx-no-32));
}

hr.spacer {
  margin: 4px 0px 2px;
  border-top: none;
  border-bottom: none;
  color: hsl(var(--gx-no-32));
}

.modListTitleContainer {
  align-items: center;
  display: flex;
  gap: 10px;
}

.modList {
  align-items: center;
  display: flex;
  flex-direction: column;
  /*min-height: 50vh;*/
  padding: 0 30px;
}
.modList > * {
  max-width: 824px;
  width: 100%;
}

.card {
  background-color: hsl(var(--gx-no-12));
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px -8px;
  flex: 1;
  overflow: hidden;
  border: solid 1px hsl(var(--gx-no-32));
  display: flex;
	flex-direction: column;
	justify-content: center;
}

ul {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.emptyState {
  display: block;
  color: hsl(var(--gx-no-59));
  text-align: center;
  margin:auto;
}

li:not(:last-child) {
  margin-bottom: 12px;
}

.modItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.sourceSubtitle {
  color: hsl(var(--gx-no-59));
  font-size: 12px;
}

.hidden {
  display: none !important;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.optionContainer, select {
  width: 100%;
}

select {
  margin-top: 4px;
  background-color: hsl(var(--gx-no-16));
  color: rgb(255, 255, 255);

  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: url(arrow_down.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;

  padding-left: 8px;

  background-size: 7px;
  border-radius: 4px;
  border: none;
  height: 28px;
}

select:focus {
  box-shadow: 0 0 0 2px #51668E;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 4px;
  background: #121019;
  outline: none;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  background: #bfb6d2;
  height: 8px;
  width: 8px;
}

.slider::-moz-range-progress {
  background-color: #8585a8; 
  height: 4px;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: background-color .2s;
}

.slider:hover::-moz-range-progress {
  background-color: hsl(var(--gx-no-12)); 
}

.volumeIcon {
    height: 18px;
    width: 18px;
    mask-image: url(volume.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: hsl(var(--gx-no-92));
    margin-right: 4px;
}

#volumeContainer {
  margin-top: 4px;
  background-color: hsl(var(--gx-no-16));
  padding: 4px 8px 4px 4px;
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#volumePercentage {
  font-size: 12px;
  text-align: center;
  width: 18px;
  margin-left: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  right:5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSwitch {
  position: absolute;
  cursor: pointer;
  background-color: hsl(var(--gx-no-12));
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsl(var(--gx-no-32));
  height: 20px;
  width: 40px;
  left: 3px;
  top: 2px;
  margin-top: 1px;
  margin-left: 1px;
  transition: .25s ease-in-out;
  z-index: 0;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .7));
}

.toggleSwitch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: hsl(var(--gx-no-77));
  transition: transform .2s cubic-bezier(.25,.15,.29,1.51);
}

input:checked + .toggleSwitch {
  background-color: hsl(var(--gx-accent-l-30)); /*lightness is 20% usually so??*/
  box-shadow: 0 0 0 2px hsl(var(--gx-accent-l-100));
}

input:checked + .toggleSwitch:before {
  transform: translateX(20px);
}

.toggleSwitch.round {
  border-radius: 34px;
}

.toggleSwitch.round:before {
  border-radius: 50%;
} 

.switchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height:40px;
  width:100%
}

.buttonsContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3em;
  align-items: center;
  height:32px;
  width:100%
}

body > .buttonsContainer {
  margin-top: 16px;
  margin-bottom: 240px;
}

.gxButton {
  align-items: center;
  /*background-color: rgb(36, 32, 49);
  border: 1px solid rgb(72, 64, 99);*/
  background-color: hsl(var(--gx-no-16));
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  gap: .5em;/*0.33em;*/
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 8px 16px;
  text-transform: none;
  transition: none;
  cursor: pointer;
}

.gxButton:disabled {
  cursor: not-allowed;
  opacity: .4;
}

.gxButton:not(.finishButton):not(:disabled):hover {
  background-color: hsl(var(--gx-no-20));
}

.gxButton:not(.finishButton):not(:disabled):active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}

.deleteModButton, #cancel {
  gap: 0px;
  width: 78px;
}

#goToStore {
  text-decoration: none;
  width: 56.5px;
  height: 14px;
  margin: 0px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  gap: 0px;
  background-color: hsl(var(--gx-accent-l-80));
  border-color: hsl(var(--gx-accent-l-60));
  color: hsl(var(--gx-accent-100-contrast));
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#goToStore:disabled {
  cursor: not-allowed;
  opacity: .4;
}

#goToStore:not(:disabled):hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

#goToStore:not(:disabled):active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.goToStoreButton {
  text-decoration: none;
  width: 44px;
  height: 14px;
  margin: 0px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  gap: 0px;
  align-items: center;
  background-color: hsl(var(--gx-no-16));
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  justify-content: center;
  outline: none;
  text-transform: none;
  transition: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.finishButton {
  gap: 0px;
  background-color: hsl(var(--gx-accent-l-80));
  border-color: hsl(var(--gx-accent-l-60));
  color: hsl(var(--gx-accent-100-contrast));
  font-weight: 700;
}
.finishButton:not(:disabled):hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.finishButton:not(:disabled):active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

#finish {
  width: 78px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border: 1px solid hsl(var(--gx-no-24));
}

/* Modal Content/Box */
.modalContent {
  background-color: hsl(var(--gx-no-12)); /*might be gray?*/
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 25%; /* Could be more or less, depending on screen size */
  border-radius: 8px;
  min-width: 300px;
  font-size: 14px;
  font-weight: 400;
}

.modalContainer > h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 15px;
  margin-top: -2px;
  margin-bottom: 16px;
}

.modalContainer > hr {
  margin: 0px -20px;
  margin-bottom: 12px;
  border-top: 1px solid;
  border-bottom: none;
  color: hsl(var(--gx-no-24));
}

.modalContainer > hr.spacer {
  margin: 8px 0px 8px;
  border-top: none;
  border-bottom: none;
  color: hsl(var(--gx-no-32));
}

.modItem > .buttonsContainer {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: .5em;
	align-items: center;
	height: 32px;
	width: 13em;
  align-content: center;
  flex-basis: 30%;
}

.modalContainer > .buttonsContainer{
  justify-content: right;
  gap: .5em;
}

.modalContainer .emptyState {
  margin-bottom: 12px;
}

.invalidItem {
  color: #ff7392 !important;
  white-space: preserve;
}

.subtitle {
  color: hsl(var(--gx-gray-60));
  font-size: 12px;
}

#input {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  caret-color: var(--cr-input-focus-color);
  color: var(--cr-input-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  min-height: var(--cr-input-min-height,auto);
  padding-bottom: var(--cr-input-padding-bottom,6px);
  padding-inline-end: var(--cr-input-padding-end,8px);
  padding-inline-start: var(--cr-input-padding-start,8px);
  padding-top: var(--cr-input-padding-top,6px);
  text-align: inherit;
  text-overflow: ellipsis;
  width: 100%;
}

#input:focus {
  appearance: none;
  outline: none;
  border: none;
}

label[for="modname"] {
  color: hsl(var(--gx-gray-60));
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .4px;
  line-height: 1;
  margin-bottom: 8px;
}

label[for="modname"]:focus-within {
  color: hsl(var(--gx-accent-l-100));
  font-weight: 400;
}

.titleMsg {
  color: hsl(var(--gx-gray-60));
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .4px;
  line-height: 1;
  min-width: 94px;
  margin-bottom: 0px;
  width:30%
}

svg {
  pointer-events: none;
}

input[type="text"] {
  display: block;
  width: 95%;
  background-color: hsl(var(--gx-no-16));
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  height: 18px;
  padding: 6px 12px;
  caret-color: hsl(var(--gx-accent-l-100));
  outline-color: rgb(255, 255, 255);
  margin-top: 8px;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="text"]:focus {
  appearance: none;
  outline: none;
}

input[type="text"]::-moz-selection {
  background: hsl(var(--gx-accent-l-100)); /* Gecko Browsers */
  color: hsl(var(--gx-accent-100-contrast));
}

input[type="file"] {
  display: none;
}

.modal li{
  list-style-type: none
}

ol {
	padding-left: 0px;
}

.preview {
  margin: 0px -20px;
}

.preview li:not(:last-child) {
	margin-bottom: 12px;
	border-bottom: 1px solid hsl(var(--gx-no-24));
}

/*fucked up sfx preview css im so sorry*/
.sfxPreview li:not(:last-child) {
	border-bottom: 1px solid hsl(var(--gx-no-24));
}
.sfxPreview li:last-child {
  margin: 0px -20px -5px -20px;
}
.sfxPreview li:first-child {
	margin: -8px -20px 4px -20px;
}
.sfxPreview li {
  margin: 0px -20px 4px -20px;
	padding: 0px 20px 7px 20px;
}
.sfxPreview ol {
  margin: 5px 0px 5px;
}

.sfxName {
	margin: 3px 0px 0px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 50%;
}

.rightSideContainer {
  width: 44%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.sfxLength {
  color: hsl(var(--gx-gray-60));
  text-align: center;
  width: 32px;
  padding-right: 8px;
  min-width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

select#category-picker {
	width: 80%;
}

li.fileItem p {
	padding-left: 24px;
	padding-right: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.sfxPreviewItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#filesButton, #sfxFilesButton, #zipButton {
  align-items: center;
  background-color: hsl(var(--gx-no-16));
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  gap: .5em;/*0.33em;*/
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 0px 12px;
  text-transform: none;
  transition: none;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 12px;
}

#filesButton:hover, #sfxFilesButton:hover, #zipButton:hover {
  background-color: hsl(var(--gx-no-20));
}

#filesButton:active, #sfxFilesButton:active, #zipButton:active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}

#iconButton {
  cursor: pointer;
}

.iconButtonOverlay {
  pointer-events: none;
  aspect-ratio: 1/1;
  height: 64px;
  clip-path: polygon(evenodd, 0px 6.82px, 0.02px 6.52px, 0.1px 6.22px, 0.22px 5.92px, 0.38px 5.66px, 0.58px 5.42px, 5.42px 0.58px, 5.66px 0.38px, 5.92px 0.22px, 6.22px 0.1px, 6.52px 0.02px, 6.82px 0px, calc(100% - 2px) 0px, calc(100% - 1.38px) 0.1px, calc(100% - 0.82px) 0.38px, calc(100% - 0.38px) 0.82px, calc(100% - 0.1px) 1.38px, 100% 2px, 100% calc(100% - 6.82px), calc(100% - 0.02px) calc(100% - 6.52px), calc(100% - 0.1px) calc(100% - 6.22px), calc(100% - 0.22px) calc(100% - 5.92px), calc(100% - 0.38px) calc(100% - 5.66px), calc(100% - 0.58px) calc(100% - 5.42px), calc(100% - 5.42px) calc(100% - 0.58px), calc(100% - 5.66px) calc(100% - 0.38px), calc(100% - 5.92px) calc(100% - 0.22px), calc(100% - 6.22px) calc(100% - 0.1px), calc(100% - 6.52px) calc(100% - 0.02px), calc(100% - 6.82px) 100%, 2px 100%, 1.38px calc(100% - 0.1px), 0.82px calc(100% - 0.38px), 0.38px calc(100% - 0.82px), 0.1px calc(100% - 1.38px), 0px calc(100% - 2px));
  background-color: rgba(0,0,0,0);
  z-index: 2;
  position: absolute;
}

#iconButton:hover > .iconButtonOverlay {
  background-color: rgba(255, 255, 255, 0.047058823529411764);
}

#iconButton:active > .iconButtonOverlay {
  background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}

footer {
	display: flex;
	justify-content: center;
  padding-bottom: .5em;
}

#footerLink {
	text-decoration: none;
	color: hsl(var(--gx-gray-50));
	font-size: .7em;
}