:root {
	color-scheme: dark;
	--gx-accent-l-8: 347deg 96% 4.4%;
	--gx-accent-l-16: 347deg 96% 8.8%;
	--gx-accent-l-24: 347deg 96% 13.2%;
	--gx-accent-l-30: 347deg 96% 16.5%;
	--gx-accent-l-60: 347deg 96% 33%;
	--gx-accent-l-80: 347deg 96% 44%;
	--gx-accent-l-100: 347deg 96% 55%;
	--gx-accent-l-120: 347deg 96% 66%;
	--gx-accent-l-140: 347deg 96% 77%;
	--gx-accent-l-160: 347deg 96% 88%;
	--gx-gray-10: 0deg 0% 10%;
	--gx-gray-16: 0deg 0% 16%;
	--gx-gray-20: 0deg 0% 20%;
	--gx-gray-30: 0deg 0% 30%;
	--gx-gray-40: 0deg 0% 40%;
	--gx-gray-50: 0deg 0% 50%;
	--gx-gray-60: 0deg 0% 60%;
	--gx-gray-70: 0deg 0% 70%;
	--gx-gray-80: 0deg 0% 80%;
	--gx-gray-90: 0deg 0% 90%;
	--gx-no-00: 258deg 24% 0%;
	--gx-no-04: 258deg 24% 4%;
	--gx-no-08: 258deg 24% 8%;
	--gx-no-12: 258deg 24% 12%;
	--gx-no-16: 258deg 24% 16%;
	--gx-no-20: 258deg 24% 20%;
	--gx-no-24: 258deg 24% 24%;
	--gx-no-32: 258deg 24% 32%;
	--gx-no-40: 258deg 24% 40%;
	--gx-no-59: 258deg 24% 59%;
	--gx-no-77: 258deg 24% 77%;
	--gx-no-80: 258deg 24% 80%;
	--gx-no-88: 258deg 24% 88%;
	--gx-no-90: 258deg 24% 90%;
	--gx-no-92: 258deg 24% 92%;
	--gx-no-96: 258deg 24% 96%;
	--gx-no-98: 258deg 24% 98%;
	--gx-no-100: 258deg 24% 100%;
	--gx-warning-red-l-100: 0deg 100% 50%;
	--gx-warning-red-l-120: 0deg 100% 60%;
	--gx-warning-red-l-140: 0deg 100% 70%;
	--gx-warning-yellow-l-100: 47.88deg 100% 60%;
	--gx-warning-yellow-l-120: 47.88deg 100% 72%;
	--gx-warning-yellow-l-140: 47.88deg 100% 84%;
	--gx-accent-100-contrast: 0 0 100%;
}

html, body {
  width: calc(220px + var(--scrollbar-width));
  padding-right: var(--scrollbar-width);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  background-color: hsl(var(--gx-no-12));
  color: #ffffff;
  font-weight: 400
}

.loadingOverlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:hsl(var(--gx-no-08));
  opacity:1;
  z-index:1001;
  transition: opacity 0.3s, background-color 0.3s;
  mask: linear-gradient(-60deg,#000 40%,#0005,#000 60%) right/600% 100%;
  -webkit-mask: linear-gradient(-60deg,#000 40%,#0005,#000 60%) right/600% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.25s infinite;
}

.consentOverlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(17, 14, 24,.6);
  backdrop-filter: blur(8px);
  z-index:1000;
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  transition: opacity 0.1s, background-color 0.1s;
	gap: .25em;
  opacity: 0;
  pointer-events: none;
}

.importantButton {
  background-color: hsl(var(--gx-accent-l-100)) !important;
  border-color: hsl(var(--gx-accent-l-120)) !important;
  color: hsl(var(--gx-accent-100-contrast)) !important;
}

.buttonsContainer {
  gap: .5em;
  margin-top: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 32px;
	width: 30%;
}
.consentTitle {
	font-weight: 600;
	text-align: center;
	font-size: 1.5em;
}
.consentDesc {
  text-align: center;
  width: 95%;
}

.webModLabel {
  line-height: 1.1em;
}

.modName {
  margin-bottom: -8px !important;
}

.sourceSubtitle {
  color: hsl(var(--gx-no-59));
  /*margin-left: 1ch;*/
  font-size: 12px;
}

.loadingOverlay[disabled] {
  opacity: 0;
  pointer-events: none;
  background-color: hsl(var(--gx-no-12));
}

.consentOverlay[enabled] {
  opacity: 1;
  pointer-events: all;
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

#optionsTitle {
  font-weight: 600;
}

svg {
  pointer-events: none;
}

hr {
  margin: 8px -8px 4px;
  border-top: 1px solid;
  border-bottom: none;
  color: hsl(var(--gx-no-32));
}

hr.spacer {
  margin: 4px 0px 2px;
  border-top: none;
  border-bottom: none;
  color: hsl(var(--gx-no-32));
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.optionContainer, select {
  width: 100%;
}

select {
  margin-top: 4px;
  background-color: hsl(var(--gx-no-16));
  color: hsl(var(--gx-no-100));

  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: url(arrow_down.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;

  padding-left: 8px;

  background-size: 7px;
  border-radius: 4px;
  border: none;
  height: 28px;
}

select:focus {
  box-shadow: 0 0 0 2px hsl(var(--gx-accent-l-80));
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 85%;
  height: 4px;
  background: hsl(var(--gx-no-08));
  outline: none;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  background: hsl(var(--gx-no-77));
  height: 8px;
  width: 8px;
}

.slider::-moz-range-progress {
  background-color: hsl(var(--gx-no-59)); 
  height: 4px;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: background-color .2s;
}

.slider:hover::-moz-range-progress {
  background-color: hsl(var(--gx-accent-l-100)); 
}

.volumeIcon {
    height: 18px;
    width: 18px;
    mask-image: url(volume.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: hsl(var(--gx-no-77));
    margin-right: 4px;
}

#volumeContainer {
  margin-top: 4px;
  background-color: hsl(var(--gx-no-16));
  padding: 4px 8px 4px 4px;
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#volumePercentage {
  font-size: 12px;
  text-align: center;
  width: 18px;
  margin-left: 4px;
}

#volumeSFXPercentage {
  font-size: 12px;
  text-align: center;
  width: 18px;
  margin-left: 4px;
}

#volumeKeyboardPercentage {
  font-size: 12px;
  text-align: center;
  width: 18px;
  margin-left: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  right:5px;
}

.switchContainer.disabled {
  opacity: .25
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSwitch {
  position: absolute;
  cursor: pointer;
  background-color: hsl(var(--gx-no-12));
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsl(var(--gx-no-32));
  height: 20px;
  width: 40px;
  left: 3px;
  top: 2px;
  margin-top: 1px;
  margin-left: 1px;
  transition: .25s ease-in-out;
  z-index: 0;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .7));
}

.toggleSwitch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: hsl(var(--gx-no-77));
  transition: transform .2s cubic-bezier(.25,.15,.29,1.51);
}

input:checked + .toggleSwitch {
  background-color: hsl(var(--gx-accent-l-30));
  background-color: hsl(var(--gx-accent-l-60) / 50%);
  box-shadow: 0 0 0 2px hsl(var(--gx-accent-l-100));
}

input:checked + .toggleSwitch:before {
  transform: translateX(20px);
}

.toggleSwitch.round {
  border-radius: 34px;
}

.toggleSwitch.round:before {
  border-radius: 50%;
} 

.switchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height:40px;
  width:100%
}

.buttonsContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height:32px;
  width:100%
}

.gxButton {
  align-items: center;
  background-color: hsl(var(--gx-no-16));
  border: 1px solid hsl(var(--gx-no-32));
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  gap: .5em;
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 8px 16px;
  text-transform: none;
  transition: none;
  cursor: pointer;
}


.gxButton:disabled {
  cursor: not-allowed;
  opacity: .4;
}

.gxButton:not(:disabled):hover {
  background-color: hsl(var(--gx-no-20));
}

.gxButton:not(:disabled):active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}

.gxButton:disabled {
  cursor: not-allowed;
}
